@import url("https://fonts.googleapis.com/css2?family=Inter:wght@40;500&display=swap");

.InfoTabContainer {
  display: flex;
  justify-content: space-between;

  width: 97%;
  height: 592px;
  background-color: #fff;
  border-radius: 0px 64px 0px 0px;
  padding: 120px 149px 120px 80px;
}

.InfoTabTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #1F1F1F;
}

.InfoTabBlock {
  display: flex;
  flex-direction: column;
  gap: 52px;
  width: fit-content;
  max-width: 600px;
}

.InfoTabContent {
  font-family: "Inter";
  font-weight: 400;
  font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  line-height: 32px;
  color: #1f1f1f;
}

.InfoTabBlock button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;

  width: fit-content;
  height: 56px;

  background: #FFFFFF;

  border: 1px solid rgba(96, 110, 120, 0.15);
  border-radius: 100px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.InfoTabBlock button:hover {
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  cursor: pointer;
}

.InfoTabContainerBlack {
  display: flex;
  justify-content: space-between;

  width: 97%;
  height: 592px;
  background-color: #1F1F1F;
  padding: 120px 149px 120px 80px;
}

.InfoTabTitleBlack {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #fff;
}

.InfoTabBlockBlack {
  display: flex;
  flex-direction: column;
  gap: 52px;
  width: fit-content;
  max-width: 600px;
}


.InfoTabContentBlack {
  font-family: "Inter";
  font-weight: 400;
  font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  line-height: 32px;
  color: #fff;
}

.InfoTabBlockBlack button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;

  width: fit-content;
  height: 56px;

  background: #1F1F1F;
  color: #fff;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 100px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.InfoTabBlockBlack button:hover {
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  cursor: pointer;
}

@media(max-width: 1440px) {
  .InfoTabContainer {
    width: 98%;
    height: 548px;
    padding: 60px 75px 120px 82px;
    gap: 32px;
  }

  .InfoTabTitle {
    font-size: 32px;
  }

  .InfoTabBlock {
    gap: 32px;
    max-width: 632px;
  }

  .InfoTabContent {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.02em;
    opacity: 0.7;
  }

  .InfoTabBlock button {

    height: 56px;
    max-width: 250px;
    background: #FFFFFF;

    border: 1px solid rgba(96, 110, 120, 0.15);
    border-radius: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .InfoTabContainerBlack {
    width: 98%;
    height: 548px;
    background-color: #1F1F1F;
    padding: 60px 75px 120px 82px;
    gap: 32px;
  }
  
  .InfoTabTitleBlack {
    font-size: 32px;

  }
  
  .InfoTabBlockBlack {
    gap: 32px;
    max-width: 632px;
  }
  
  
  .InfoTabContentBlack {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.02em;
    opacity: 0.7;
  }
  
  .InfoTabBlockBlack button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
  
    height: 56px;
    max-width: 250px;

    font-size: 15px;
    line-height: 100%;
  
  }
}

@media(max-width: 780px) {
  .InfoTabContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 40px;

    width: 100%;
    height: fit-content;
    min-height: fit-content;
    border-radius: 0px;
  }

  .InfoTabTitle {
    font-size: 32px;
  }


  .InfoTabBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: fit-content;
    height: fit-content;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .InfoTabContainerBlack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 40px;

    width: 100%;
    height: fit-content;
    min-height: fit-content;
    border-radius: 0px;
  }

  .InfoTabTitleBlack {
    font-size: 32px;
  }


  .InfoTabBlockBlack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: fit-content;
    height: fit-content;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }


}

@media (max-width: 390px) {
  .InfoTabContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 16px;

    width: 100%;
    height: 582px;
  }

  .InfoTabTitle {
    font-size: 24px;
  }

  .InfoTabBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    width: fit-content;
    height: 423px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }


  .InfoTabContent {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    letter-spacing: -0.02em;

    color: #1F1F1F;

    opacity: 0.7;
  }

  .InfoTabContainerBlack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 16px;

    width: 100%;
    height: 582px;
  }

  .InfoTabTitleBlack {
    font-size: 24px;
  }

  .InfoTabBlockBlack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    width: fit-content;
    height: 423px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }


  .InfoTabContentBlack {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    letter-spacing: -0.02em;

    color: #FFF;

    opacity: 0.7;
  }
}